@media (max-width: 1000px) {
  #container {
    flex-direction: column;
  }
  .book-wrapper {
    width: 30%;
  }
  #search-input {
    width: 50%;
  }
  #nav-basket {
    width: 7%;
  }
  th,
  td {
    font-size: 18px;
    padding: 7px 7px;
  }
  .book-single-description h1 {
    font-size: 25px;
  }
  .book-single-description p {
    font-size: 15px;
  }
  .book-single-description {
    width: 100%;
  }
  .single-img {
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 800px) {
  .book-wrapper {
    width: 40%;
  }
  #nav-basket {
    width: 10%;
  }
  #search {
    width: 60%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  #search-input {
    width: 70%;
  }
  #home,
  #home-icon {
    font-size: 20px;
  }
  #home-page {
    width: 30%;
  }
  #search-btn {
    width: 40%;
    margin-left: 0;
    margin-top: 10px;
  }
  #home-page-footer {
    font-size: 20px;
  }
  #contacts {
    font-size: 13px;
  }
  .subscribe-cell {
    font-size: 12px;
    padding: 2px;
  }
  #main-page p {
    font-size: 50px;
  }
  #socials a {
    font-size: 35px;
  }
  th,
  td {
    font-size: 13px;
    padding: 5px 5px;
  }
  #total {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .book-wrapper {
    width: 100%;
  }
  #nav-basket {
    width: 12%;
  }
  #search-input {
    width: 80%;
    font-size: 10px;
  }
  #search {
    width: 50%;
  }
  #main-page p {
    font-size: 30px;
  }
  #socials a {
    font-size: 25px;
  }
  #socials {
    width: 100%;
    justify-content: space-evenly;
  }
  th,
  td {
    font-size: 8px;
  }
  #footer-wrapper {
    flex-direction: column;
  }
  #contacts {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .single-img {
    flex-direction: column;
    width: 90%;
  }
  .book-single-description h1 {
    font-size: 20px;
  }
  .book-single-description p {
    font-size: 12px;
  }
}
